{
  "extends": "stylelint-azavea",
  "rules": {
    "at-rule-empty-line-before": null,
    "declaration-empty-line-before": null,
    "indentation": null,
    "max-empty-lines": null,
    "selector-list-comma-newline-after": null,
    "selector-max-type": null,
    "scss/at-import-no-partial-leading-underscore": null,
    "scss/no-duplicate-dollar-variables": null
  }
}
