$white: #fff;
$gray-50: #fafafa;
$gray-100: #f5f5f5;
$gray-200: #eee;
$gray-300: #e0e0e0;
$gray-400: #bdbdbd;
$gray-500: #9e9e9e;
$gray-600: #757575;
$gray-700: #616161;
$gray-800: #424242;
$gray-900: #212121;
$black: #000;

$bg-gray: #ecedef;

$primary: #15379d;
$active: #128d31;

$error: #9d3715;

$font-colors: (
    light: $gray-600,
    normal: $gray-800,
    dark: $black,
);

$meter-track: #e0e0e0;
$meter-fill-high: #92c980;
$meter-fill-med: #d4d10c;
$meter-fill-low: #efb715;
$meter-average: rgba(#fff, 0.8);
