.Select-arrow {
  border-color: $gray-600 transparent transparent !important;
  border-width: 0.6rem 0.6rem 0.2rem !important;
}

.Select-value {
  padding-right: 2.4rem !important;
  line-height: 3.8rem !important;
}
