.app-root {
  display: flex;
  flex: auto;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;

  > .app-header {
    flex: none;
  }
}

.languageSelect {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  > button {
    margin-left: 10px;

    &:hover {
      color: #00f;
    }
  }
}
