.app-root {
  display: flex;
  flex: auto;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;

  > .app-header {
    flex: none;
  }
}

.languageSelect {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  > button {
    margin-left: 10px;

    &:hover {
      color: #00f;
    }
  }
}

.amenities-all {
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 0% 2%;

  p {
    font-size: 80%;
    white-space: nowrap;
  }
}

.amenities-box {
  display: flex;
  font-family: 'Open Sans', sans-serif;

  .amenities-amenity {
    align-items: center;
    width: 25%;
    padding: 1%;

    .amenities-icon {
      top: 1px;
      width: 35%;
    }
  }
}
