.app-root {
  display: flex;
  flex: auto;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;

  > .app-header {
    flex: none;
  }
}

.languageSelect {
  > button {
    margin-left: 10px;
    &:hover {
      color: blue;
    }
  }
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.amenities-box {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Open Sans', sans-serif;
  .amenities-amenity {
    padding: 1%;
    width: 25%;
    .amenities-icon {
      width: 25%;
      position: relative;
      top: 1px;
    }
  }
}