.auth-screen {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  max-width: 80rem;
  margin: 4rem auto;

  &__header {
    width: 64rem;
    margin-bottom: 4.8rem;
  }

  &__main {
    width: 40rem;
    padding: 4rem;
    background: $white;
  }
}
