.form-screen {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 64rem;
  max-width: 80rem;
  margin: 4rem auto;

  &__heading {
    @include heading(700);
    margin-bottom: 2.4rem;
    text-align: left;
  }

  &__main {
    padding: 3.2rem 2.4rem;
    background: $white;
  }

  &__callout {
    margin-top: 2.4rem;
    padding: 3.2rem 2.4rem;
    background: $white;
  }
}
