.map-screen {
  display: flex;
  flex: auto;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: flex-start;
  max-height: calc(100vh - 6.4rem);

  > .map-sidebar {
    flex: none;
    width: 44rem;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  > .main-map {
    flex: auto;
    overflow: hidden;
  }
}
