$error-color: red;
$splash-background-color: #fff;

.Error {
  color: $error-color;
}

.Logo {
  background: url(/src/img/BHAlogo.png) no-repeat;
  width: 100%;
  padding-top: 5rem;
  background-size: 4rem;
  background-position: center;
  background-position-x: center;
  background-position-y: center;
}

.Splash {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

.SplashBoxHeader {
  text-align: left;
}

.SplashBox {
  background-color: $splash-background-color;
  align-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
