.Logo {
  background: url(/src/img/BHAlogo.png) no-repeat;
  width: 100%;
  padding-top: 5rem;
  background-size: 4rem;
  background-position: center;
  background-position-x: center;
  background-position-y: center;
}
