.account-profile {
  &__field {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 4rem;

    > *:not(:last-child) {
      margin-bottom: 1.6rem;
    }

    &--inline {
      flex-direction: row;
      align-items: center;
      margin-bottom: 0;

      > *:not(:last-child) {
        margin-right: 0.8rem;
        margin-bottom: 0;
      }
    }

    &--stack {
      justify-content: space-between;
      max-width: 40rem;
      margin: 2.4rem 0;
    }
  }

  &__field-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    > *:not(:last-child) {
      margin-right: 2.4rem;
    }
  }

  &__field-description {
    max-width: 48rem;
    font-size: 1.3rem;
  }

  &__label {
    @include text(400);
    @include font-weight(bold);

    &--secondary {
      @include text(300);
      @include font-weight(bold);
    }
  }

  &__input {
    height: 4rem;
    padding: 0 0.8rem;

    &--geocoder {
      min-width: 32rem;
      max-width: 40rem;
    }

    &--text {
      min-width: 32rem;
      max-width: 40rem;
    }

    &--select {
      width: 12rem;
    }

    &--wide-select {
      width: 24rem;
    }

    &--checkbox,
    &--radio {
      width: 1.6rem;
      height: 1.6rem;
    }

    &:disabled {
      background-color: $gray-100;
      border-color: $gray-300;
    }
  }

  &__destinations {
    margin-bottom: 4rem;
  }

  &__destination-list-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1.6rem;
    margin-bottom: 0.8rem;
  }

  &__destination-list-heading {
    @include text(300);
    @include font-weight(bold);
  }

  &__destination-list {
    margin-bottom: 1.6rem;
  }

  &__destination {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;

    &:not(:last-of-type) {
      margin-bottom: 1.6rem;
    }
  }

  &__destination_field {
    flex: none;
    width: 12rem;

    &:not(:last-child) {
      margin-right: 1.6rem;
    }

    &--wide {
      width: 44rem;
    }

    &--narrow {
      width: 7.2rem;
    }

    &--xnarrow {
      width: 3.2rem;
    }

    &--center {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  &__destination-delete-button {
    opacity: 0.2;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  &__importance-options {
    margin-bottom: 4rem;
  }

  &__error {
    @include text(400);
    @include font-weight(bold);
    margin-bottom: 2.4rem;
    padding: 1.6rem;
    color: $white;
    text-align: center;
    background-color: $error;
  }

  &__actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    > *:not(:last-child) {
      margin-right: 3.2rem;
    }
  }

  &__button {
    height: 4rem;

    &--primary {
      @include button($color: $white, $background: $primary);
      @include light-on-dark();
      @include font-weight(bold);
      min-width: 16rem;
    }

    &--secondary {
      @include button($color: $black, $background: $gray-300);
      min-width: 14rem;
    }

    &--tertiary {
      margin-left: auto;
      color: $primary;
    }

    &--iconLeft {
      display: inline-flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;

      > *:first-child {
        margin-right: 0.8rem;
      }
    }
  }

  &__message-sent {
    @include text(300);
  }
}
