.auth-header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;

  &__logo {
    margin: 4rem auto;
  }

  &__agency {
    @include heading(500);
    margin: 1.6rem 0;
    text-align: center;
  }

  &__app-name {
    @include heading(800);
    margin: 1.6rem 0 4rem;
    text-align: center;
  }

  &__greeting {
    @include text(300);
  }
}
