.auth-header {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;

  &__agency {
    @include heading(500);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin: 1.6rem 0;
    text-align: center;
  }

  &__logo {
    max-width: 5.6rem;
    margin-right: 1.6rem;
  }

  &__app-name {
    @include heading(800);
    margin: 1.6rem 0 2.4rem;
    text-align: center;
  }

  &__greeting {
    @include text(500);
    margin: 1.6rem 0 2.4rem;
    text-align: center;
  }
}
