.convert-to-account {
  &__heading {
    @include text(500);
    @include font-weight(bold);
    margin-bottom: 0.8rem;
  }

  &__subhead {
    @include text(300);
    margin-bottom: 2.4rem;
  }

  &__label {
    @include text(400);
    @include font-weight(bold);
    display: block;
    margin-bottom: 1.6rem;
  }

  &__field {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  &__input {
    flex: auto;
    min-width: 32rem;
    max-width: 44rem;
    height: 4rem;
    margin-right: 2.4rem;
    padding: 0 0.8rem;

    &:disabled {
      background: $bg-gray;
    }
  }

  &__button {
    @include button($color: $white, $background: $primary);
    @include light-on-dark();
    @include font-weight(bold);
    flex: none;
    min-width: 16rem;
    height: 4rem;
    margin: 0;
  }

  &__message-sent {
    @include text(400);
  }
}
