.map-sidebar {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  padding: 0 2.4rem 2.4rem;

  &__error {
    @include text(300);
    margin: 1.6rem 0;
    padding: 1.6rem;
    color: $error;
    border: 2px solid $error;

    > * {
      margin-right: 0.8rem;
    }
  }

  &__travel-form {
    padding-bottom: 1.6rem;
    border-bottom: 1px solid $gray-400;
  }

  &__travel-form-heading {
    @include text(300);
    @include font-weight(bold);
    margin-bottom: 1.2rem;
  }

  &__field {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0.8rem;
  }

  &__label {
    @include text(300);
    @include font-weight(bold);
    flex: none;
    min-width: 3.6em;
    padding-right: 0.4rem;
  }

  &__select {
    flex: auto;
  }

  &__details-navigation {
    margin: 1.6rem 0;
  }

  &__navigation-button {
    @include heading(300);
    color: $primary;

    > *:first-child {
      margin-right: 0.6rem;
    }
  }

  &__neighborhoods-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 1.6rem 0;
  }

  &__neighborhoods-heading {
    @include heading(300);
  }

  &__neighborhoods-actions {
    @include text(300);
    color: $gray-600;
  }

  &__neighborhoods-action {
    &--on {
      @include font-weight(bold);
      color: $black;
      cursor: default;
    }
  }

  &__no-results {
    @include text(500);
    @include font-weight(bold);
    margin: 4rem auto;
    color: $gray-700;
    text-align: center;
  }

  &__tooltip {
    @include text(200);
    max-width: 30rem;
    padding: 0.8rem 1.2rem;
    white-space: normal;

    strong {
      @include font-weight(bold);
      font-style: italic;
    }

    a {
      text-decoration: underline;
    }
  }

  &__pagination {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin: 3.2rem 0;
  }

  &__pagination-button {
    @include button($color: $black, $background: $gray-400);
    min-width: 16rem;
    height: 4rem;

    &:not(:last-child) {
      margin-right: 4rem;
    }

    &--strong {
      @include font-weight(bold);
    }
  }

  &__footer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: auto;
    padding-top: 3.2rem;
    color: $gray-600;
    text-align: center;
  }

  &__feedback {
    margin-bottom: 2.4rem;

    &:hover,
    &:active {
      color: $primary;
    }
  }

  &__feedback-icon {
    margin-right: 0.6rem;
  }

  &__attribution {
    @include text(200);

    &:hover,
    &:active {
      color: $primary;
    }
  }
}
