.map {
  &__tooltip {
    margin-top: 24px;
    padding: 0 !important;
    background-color: transparent !important;
    border: 0 !important;
    border-radius: 3px !important;
    opacity: 0.9;
    transition: opacity 0.3s ease-out;

    &.leaflet-tooltip-left {
      margin-left: -10px !important;
    }

    &.leaflet-tooltip-right {
      margin-left: 15px !important;
    }
  }

  &__tooltip-town {
    @include text(200, $white, true);
    @include font-weight(bold);
    padding: 0.4rem 0.8rem;
    background-color: $gray-900;

    &--unroutable {
      @include font-weight(normal);
      color: $gray-800;
      background-color: $gray-200;
    }
  }

  &__marker {
    &--start {
      background-color: $black;

      &::before {
        border-top: 20px solid $black;
      }
    }

    &--end {
      background-color: $active;

      &::before {
        border-top: 20px solid $active;
      }
    }

    &--listing {
      background-color: $listing;

      &::before {
        border-top: 20px solid $listing;
      }
    }

    &--other {
      background-color: $primary;

      &::before {
        border-top: 20px solid $primary;
      }
    }
  }

  &__popup {

    background-color: $white;

    h1 {
      @include heading(400);
    }

    h2 {
      @include text(200);
      @include font-weight(light);
    }

    p {
      color: #cacaca;
    }

    &__line {
      margin-bottom: 1rem;
      border: 1px solid #e9eaec;
    }
  }

  &__popup-contents {
    width: 100%;
    padding: 20px 10px 0;
  }
}
