.map {
  &__tooltip {
    margin-top: 24px;
    padding: 0 !important;
    background-color: transparent !important;
    border: 0 !important;
    border-radius: 3px !important;
    opacity: 0.9;
    transition: opacity 0.3s ease-out;

    &.leaflet-tooltip-left {
      margin-left: -10px !important;
    }

    &.leaflet-tooltip-right {
      margin-left: 15px !important;
    }
  }

  &__tooltip-town {
    @include text(200, $white, true);
    @include font-weight(bold);
    padding: 0.4rem 0.8rem;
    background-color: $gray-900;

    &--unroutable {
      @include font-weight(normal);
      color: $gray-800;
      background-color: $gray-200;
    }
  }

  &__marker {
    &--start {
      background-color: $black;

      &::before {
        border-top: 20px solid $black;
      }
    }

    &--end {
      background-color: $active;

      &::before {
        border-top: 20px solid $active;
      }
    }

    &--other {
      background-color: #15379d;

      &::before {
        border-top: 20px solid #15379d;
      }
    }

    &--realtor {
      background-color: $realtor;

      &::before {
        border-top: 20px solid $realtor;
      }
    }
  }

  &__popup {

    background-color: $white;

    h1 {
      @include heading(400);
    }

    h2 {
      @include text(200);
      @include font-weight(light);
      color: #cacaca !important;
    }

    p {
      @include text(200);
      @include font-weight(bold);
    }

    &__url-wrapper {
      width: 75%;
      height: 3rem;
      margin: auto;
      margin-bottom: 1.5rem;
      padding-top: 0.5rem;
      text-align: center;
      background: $primary;
    }

    &__url {
      @include text(300);
      height: 100%;
      margin: auto;
      color: $white !important;
    }

    &__line {
      margin-bottom: 1rem;
      border: 1px solid #e9eaec;
    }
  }

  &__popup-contents {
    margin: 0 1rem;
  }

  &__amenity-poup {
    margin: 1rem !important;

    p {
      @include text(100);
      font-size: 1rem !important;
    }
  }
}

.leaflet-popup-content {
  padding: 0 !important;
  background-color: $white;
}

.leaflet-popup-close-button {
  display: none !important;
}

.leaflet-popup-content-wrapper {
  background-color: $white !important;
}

.leaflet-popup-tip {
  color: $white !important;
  border-top-color: $white !important;
}

.carousel-status {
  display: none !important;
}
