.meter {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;

  &__track {
    fill: $meter-track;
  }

  &__fill {
    &--high {
      fill: $meter-fill-high;
    }

    &--med {
      fill: $meter-fill-med;
    }

    &--low {
      fill: $meter-fill-low;
    }
  }

  &__average {
    fill: $meter-average;
  }

  &__percentage {
    margin-left: 0.8rem;
  }
}
