.neighborhood-summary {
  @include elevation(1);
  margin-bottom: 1.6rem;
  padding: 0 0.8rem 1.2rem;
  background-color: $white;
  cursor: pointer;

  &__header {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.6rem 0.4rem;
  }

  &__star {
    margin-right: 0.8rem;
    font-size: 1.8rem !important;
  }

  &__marker {
    width: 1.8rem;
    margin-left: auto;
    fill: $primary;

    &--on {
      fill: $active;
    }
  }

  &__name {
    @include heading(400);
    display: flex;
    flex: auto;
    flex-flow: column nowrap;
    align-items: flex-start;
    margin-right: 0.8rem;
  }

  &__ecc {
    @include text(200);
    @include font-weight(bold);
    margin-top: 0.4rem;
    color: $ecc;
  }

  &__contents {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 0.8rem;
  }

  &__descriptive {
    flex: none;
    margin-right: 0.8rem;
  }

  &__image {
    width: 12rem;
    height: 9rem;
    margin-bottom: 0.8rem;

    img {
      width: 120px;
      height: 90px;
    }
  }

  &__trip {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
  }

  &__duration {
    @include text(400);
  }

  &__trajectory {
    @include text(200);
    color: $gray-600;
  }

  &__location {
    @include font-weight(bold);
  }
}
