.neighborhood-facts {
  flex: none;
  table-layout: fixed;

  &__cell {
    padding-top: 0.6rem;
    padding-bottom: 0.8rem;
    white-space: nowrap;
    vertical-align: middle;

    &:first-child {
      padding-right: 0.8rem;
      text-align: right;
    }
  }

  &__text {
    padding-top: 0.6rem;
    padding-right: 0.8rem;
    padding-bottom: 0.8rem;
    text-align: left;
    vertical-align: middle;
  }

  &__school-choice {
    font-style: italic;

    &:hover {
      text-decoration: underline;
    }
  }
}
