.rental-units-meter {
  position: relative;
  top: -1px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  max-height: 1.8rem;

  &__icon {
    color: $meter-track;
    font-size: 2.5rem;

    &--high {
      color: $meter-fill-high;
    }

    &--med {
      color: $meter-fill-med;
    }

    &--low {
      color: $meter-fill-low;
    }
  }
}
