{
  "widgets": [
    {
      "type": "metric",
      "x": 0,
      "y": 0,
      "width": 9,
      "height": 6,
      "properties": {
        "metrics": [
          [
            "AWS/ApplicationELB",
            "TargetResponseTime",
            "LoadBalancer",
            "${lb_arn_suffix}"
          ],
          [
            "...",
            {
              "stat": "p90"
            }
          ],
          [
            "...",
            {
              "stat": "p95",
              "color": "#d62728"
            }
          ]
        ],
        "view": "timeSeries",
        "stacked": false,
        "region": "us-east-1",
        "stat": "p50",
        "period": 60,
        "annotations": {
          "horizontal": [
            {
              "label": "Timeout",
              "value": 15
            }
          ]
        },
        "title": "Request Latency"
      }
    },
    {
      "type": "metric",
      "x": 9,
      "y": 0,
      "width": 9,
      "height": 6,
      "properties": {
        "metrics": [
          [
            "AWS/ApplicationELB",
            "RequestCount",
            "LoadBalancer",
            "${lb_arn_suffix}"
          ],
          [
            ".",
            "HTTPCode_Target_2XX_Count",
            ".",
            ".",
            {
              "color": "#2ca02c"
            }
          ],
          [
            ".",
            "HTTPCode_Target_3XX_Count",
            ".",
            ".",
            {
              "color": "#dbdb8d"
            }
          ],
          [
            ".",
            "HTTPCode_Target_4XX_Count",
            ".",
            ".",
            {
              "color": "#ff7f0e"
            }
          ],
          [
            ".",
            "HTTPCode_Target_5XX_Count",
            ".",
            ".",
            {
              "color": "#d62728"
            }
          ]
        ],
        "view": "timeSeries",
        "stacked": false,
        "region": "us-east-1",
        "stat": "Sum",
        "period": 60,
        "title": "Request Status"
      }
    },
    {
      "type": "metric",
      "x": 0,
      "y": 12,
      "width": 9,
      "height": 6,
      "properties": {
        "metrics": [
          [
            "AWS/RDS",
            "CPUUtilization",
            "DBInstanceIdentifier",
            "${db_instance_id}"
          ]
        ],
        "view": "timeSeries",
        "stacked": true,
        "region": "us-east-1",
        "title": "Database CPU",
        "stat": "Average",
        "period": 60
      }
    },
    {
      "type": "metric",
      "x": 9,
      "y": 12,
      "width": 9,
      "height": 6,
      "properties": {
        "metrics": [
          [
            "AWS/RDS",
            "DiskQueueDepth",
            "DBInstanceIdentifier",
            "${db_instance_id}"
          ]
        ],
        "view": "timeSeries",
        "stacked": true,
        "region": "us-east-1",
        "stat": "Average",
        "period": 60,
        "title": "Database Queue Depth"
      }
    },
    {
      "type": "metric",
      "x": 18,
      "y": 18,
      "width": 6,
      "height": 6,
      "properties": {
        "metrics": [
          [
            "AWS/RDS",
            "FreeableMemory",
            "DBInstanceIdentifier",
            "${db_instance_id}"
          ]
        ],
        "view": "timeSeries",
        "stacked": true,
        "region": "us-east-1",
        "title": "Database Free Memory",
        "stat": "Average",
        "period": 60
      }
    },
    {
      "type": "metric",
      "x": 18,
      "y": 12,
      "width": 6,
      "height": 6,
      "properties": {
        "metrics": [
          [
            "AWS/RDS",
            "FreeStorageSpace",
            "DBInstanceIdentifier",
            "${db_instance_id}"
          ]
        ],
        "view": "timeSeries",
        "stacked": true,
        "region": "us-east-1",
        "stat": "Average",
        "period": 60,
        "title": "Database Free Storage"
      }
    },
    {
      "type": "metric",
      "x": 0,
      "y": 18,
      "width": 9,
      "height": 6,
      "properties": {
        "metrics": [
          [
            "AWS/RDS",
            "ReadThroughput",
            "DBInstanceIdentifier",
            "${db_instance_id}"
          ],
          [
            ".",
            "WriteThroughput",
            ".",
            "."
          ]
        ],
        "view": "timeSeries",
        "stacked": false,
        "region": "us-east-1",
        "stat": "Average",
        "period": 60,
        "title": "Database Throughput"
      }
    },
    {
      "type": "metric",
      "x": 9,
      "y": 18,
      "width": 9,
      "height": 6,
      "properties": {
        "metrics": [
          [
            "AWS/RDS",
            "BurstBalance",
            "DBInstanceIdentifier",
            "${db_instance_id}"
          ]
        ],
        "view": "timeSeries",
        "stacked": true,
        "region": "us-east-1",
        "stat": "Average",
        "period": 60,
        "title": "Database Burst Balance"
      }
    },
    {
      "type": "metric",
      "x": 0,
      "y": 6,
      "width": 12,
      "height": 6,
      "properties": {
        "metrics": [
          [
            "ECS/ContainerInsights",
            "CpuUtilized",
            "ServiceName",
            "${ecs_service_name}",
            "ClusterName",
            "${ecs_cluster_name}"
          ]
        ],
        "view": "timeSeries",
        "stacked": true,
        "region": "us-east-1",
        "stat": "Average",
        "period": 60,
        "title": "App CPU"
      }
    },
    {
      "type": "metric",
      "x": 12,
      "y": 6,
      "width": 12,
      "height": 6,
      "properties": {
        "metrics": [
          [
            "ECS/ContainerInsights",
            "MemoryUtilized",
            "ServiceName",
            "${ecs_service_name}",
            "ClusterName",
            "${ecs_cluster_name}"
          ]
        ],
        "view": "timeSeries",
        "stacked": true,
        "region": "us-east-1",
        "stat": "Average",
        "period": 60,
        "title": "App Memory"
      }
    },
    {
      "type": "metric",
      "x": 18,
      "y": 0,
      "width": 6,
      "height": 6,
      "properties": {
        "metrics": [
          [
            "AWS/CloudFront",
            "TotalErrorRate",
            "Region",
            "Global",
            "DistributionId",
            "${cdn_distribution_id}"
          ]
        ],
        "view": "timeSeries",
        "stacked": true,
        "region": "us-east-1",
        "stat": "Average",
        "period": 60,
        "title": "CDN Error Rate"
      }
    }
  ]
}
